body {
    background: url('https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=417&q=80');
    background-size: auto;
}

p {
    text-align: center;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
}